/* screen - 2d-educational-videos */

.x2d-educational-videos {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  width: 1920px;
}

.x2d-educational-videos .overlap-group2 {
  height: 1080px;
  position: relative;
  width: 1920px;
}

.x2d-educational-videos .x2-d-edu-gallery-vid {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x2d-educational-videos .x2-d-edu-gallery-vid video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.x2d-educational-videos .x2-d-edu-gallery-vid img {
  object-fit: cover;
}

.x2d-educational-videos .services {
  background-image: url(../img/services-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 78px;
  left: 30px;
  position: absolute;
  top: 956px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.x2d-educational-videos .services:hover {
  transform: scale(1.1);
}

.x2d-educational-videos .home {
  background-image: url(../img/home@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 81px;
  left: 30px;
  position: absolute;
  top: 18px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.x2d-educational-videos .home:hover {
  transform: scale(1.1);
}

.x2d-educational-videos .m-about-us {
  background-image: url(../img/m-about-us-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 1684px;
  position: absolute;
  top: 962px;
  transition: all 0.5s ease-in-out;
  width: 193px;
}

.x2d-educational-videos .m-about-us:hover {
  transform: scale(1.1);
}

.x2d-educational-videos .s-contact-us {
  background-image: url(../img/m-contact-us@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 872px;
  position: absolute;
  top: 962px;
  transition: all 0.5s ease-in-out;
  width: 177px;
}

.x2d-educational-videos .s-contact-us:hover {
  transform: scale(1.1);
}

.x2d-educational-videos .gallery {
  background-image: url(../img/gallery@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 134px;
  left: 1698px;
  position: absolute;
  top: 12px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.x2d-educational-videos .gallery:hover {
  transform: scale(1.1);
}

.x2d-educational-videos .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px 105px 24px 105px;
  display: flex;
  height: 566px;
  justify-content: flex-end;
  left: 30px;
  min-width: 384px;
  padding: 12px 5px;
  position: absolute;
  top: 285px;
}

.x2d-educational-videos .teach-even-the-bori {
  letter-spacing: 0;
  line-height: 55px;
  min-height: 491px;
  min-width: 370px;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  white-space: nowrap;
}

.x2d-educational-videos .span-1 {
  text-decoration: underline;
}

.x2d-educational-videos .back-button {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 166px;
  min-width: 139px;
  mix-blend-mode: luminosity;
  opacity: 0.75;
  position: absolute;
  top: 793px;
}

.x2d-educational-videos .overlap-group1 {
  height: 67px;
  margin-bottom: -9px;
  position: relative;
  width: 139px;
}

.x2d-educational-videos .rectangle-1 {
  border-radius: 24px 105px 24px 105px;
  height: 58px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 139px;
}

.x2d-educational-videos .place {
  left: 21px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-shadow: 0px 3px 6px #00000029;
  top: 7px;
  white-space: nowrap;
}
