/* screen - natureal-landscaping-company */

.natureal-landscaping-company {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  width: 1920px;
}

.natureal-landscaping-company .overlap-group2 {
  height: 1080px;
  position: relative;
  width: 1920px;
}

.natureal-landscaping-company .natureal-lanscaping-gallery-vid {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.natureal-landscaping-company .natureal-lanscaping-gallery-vid video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.natureal-landscaping-company .natureal-lanscaping-gallery-vid img {
  object-fit: cover;
}

.natureal-landscaping-company .services {
  background-image: url(../img/services-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 78px;
  left: 30px;
  position: absolute;
  top: 956px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.natureal-landscaping-company .services:hover {
  transform: scale(1.1);
}

.natureal-landscaping-company .home {
  background-image: url(../img/home@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 81px;
  left: 30px;
  position: absolute;
  top: 18px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.natureal-landscaping-company .home:hover {
  transform: scale(1.1);
}

.natureal-landscaping-company .m-about-us {
  background-image: url(../img/m-about-us-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 1684px;
  position: absolute;
  top: 962px;
  transition: all 0.5s ease-in-out;
  width: 193px;
}

.natureal-landscaping-company .m-about-us:hover {
  transform: scale(1.1);
}

.natureal-landscaping-company .s-contact-us {
  background-image: url(../img/m-contact-us@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 872px;
  position: absolute;
  top: 962px;
  transition: all 0.5s ease-in-out;
  width: 177px;
}

.natureal-landscaping-company .s-contact-us:hover {
  transform: scale(1.1);
}

.natureal-landscaping-company .gallery {
  background-image: url(../img/gallery@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 134px;
  left: 1698px;
  position: absolute;
  top: 12px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.natureal-landscaping-company .gallery:hover {
  transform: scale(1.1);
}

.natureal-landscaping-company .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-12-5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px 105px 24px 105px;
  display: flex;
  height: 506px;
  left: 30px;
  min-width: 398px;
  padding: 12px 2px;
  position: absolute;
  top: 313px;
}

.natureal-landscaping-company .natureals-landscap {
  letter-spacing: 0;
  line-height: 55px;
  min-height: 436px;
  min-width: 384px;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  white-space: nowrap;
}

.natureal-landscaping-company .span-1 {
  text-decoration: underline;
}

.natureal-landscaping-company .back-button {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 160px;
  min-width: 139px;
  mix-blend-mode: luminosity;
  opacity: 0.75;
  position: absolute;
  top: 760px;
}

.natureal-landscaping-company .overlap-group1 {
  height: 67px;
  margin-bottom: -9px;
  position: relative;
  width: 139px;
}

.natureal-landscaping-company .rectangle-1 {
  border-radius: 24px 105px 24px 105px;
  height: 58px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 139px;
}

.natureal-landscaping-company .place {
  left: 21px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-shadow: 0px 3px 6px #00000029;
  top: 7px;
  white-space: nowrap;
}
