/* screen - open-door */

.open-door {
  align-items: flex-start;
  background-color: var(--black);
  cursor: pointer;
  display: flex;
  width: 1920px;
}

.open-door .scene-open-door {
  height: 1080px;
  width: 1920px;
}

.open-door .scene-open-door video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.open-door .scene-open-door img {
  object-fit: cover;
}
