/* screen - refund-policy */

.refund-policy {
  background-color: var(--black);
  height: 1080px;
  position: relative;
  width: 1920px;
}

.refund-policy .basic-indoor-sceene {
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.refund-policy .basic-indoor-sceene video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.refund-policy .basic-indoor-sceene img {
  object-fit: cover;
}

.refund-policy .overlap-group2 {
  height: 757px;
  left: 530px;
  position: absolute;
  top: 217px;
  width: 875px;
}

.refund-policy .overlap-group {
  background-image: url(../img/form-blue-box@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px 105px 24px 105px;
  height: 757px;
  left: 0;
  position: absolute;
  top: 0;
  width: 875px;
}

.refund-policy .refund-policy-1 {
  left: 237px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-shadow: 0px 3px 6px #00000029;
  top: 10px;
  white-space: nowrap;
}

.refund-policy .scroll-group-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.refund-policy .scroll-group-2 {
  align-items: flex-end;
  display: flex;
  height: 634px;
  left: 31px;
  min-width: 825px;
  overflow-y: scroll;
  position: absolute;
  top: 80px;
}

.refund-policy .last-updated-may-29 {
  color: var(--supernova);
  font-family: var(--font-family-segoe_ui);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 1957px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -1323px;
  width: 825px;
}

.refund-policy .span25 {
  font-family: var(--font-family-segoeui-italic);
  font-style: italic;
}

.refund-policy .icon-awesome-arrows-alt-v {
  height: 102px;
  left: 842px;
  object-fit: cover;
  position: absolute;
  top: 328px;
  width: 23px;
}

.refund-policy .services {
  background-image: url(../img/services-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 78px;
  left: 37px;
  position: absolute;
  top: 987px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.refund-policy .services:hover {
  transform: scale(1.1);
}

.refund-policy .home {
  background-image: url(../img/home@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 81px;
  left: 30px;
  position: absolute;
  top: 18px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.refund-policy .home:hover {
  transform: scale(1.1);
}

.refund-policy .m-about-us {
  background-image: url(../img/m-about-us-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 1691px;
  position: absolute;
  top: 993px;
  transition: all 0.5s ease-in-out;
  width: 193px;
}

.refund-policy .m-about-us:hover {
  transform: scale(1.1);
}

.refund-policy .s-contact-us {
  background-image: url(../img/m-contact-us@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 879px;
  position: absolute;
  top: 993px;
  transition: all 0.5s ease-in-out;
  width: 177px;
}

.refund-policy .s-contact-us:hover {
  transform: scale(1.1);
}

.refund-policy .gallery {
  background-image: url(../img/gallery@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 134px;
  left: 1698px;
  position: absolute;
  top: 12px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.refund-policy .gallery:hover {
  transform: scale(1.1);
}

.refund-policy .join-us {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 77px;
  left: 864px;
  min-width: 193px;
  position: absolute;
  top: 22px;
}

.refund-policy .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1-34@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px 105px 24px 105px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 193px;
  padding: 2px 11px;
}

.refund-policy .join-us-1 {
  letter-spacing: 0;
  line-height: 49px;
  min-height: 67px;
  min-width: 168px;
  text-shadow: 0px 3px 6px #00000029;
  white-space: nowrap;
}
