/* screen - what-is-2d-explainer-video */

.what-is-2d-explainer-video {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  width: 1920px;
}

.what-is-2d-explainer-video .overlap-group2 {
  height: 1080px;
  position: relative;
  width: 1920px;
}

.what-is-2d-explainer-video .what-is-a-2-d-explainer-gallery-vid {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.what-is-2d-explainer-video .what-is-a-2-d-explainer-gallery-vid video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.what-is-2d-explainer-video .what-is-a-2-d-explainer-gallery-vid img {
  object-fit: cover;
}

.what-is-2d-explainer-video .services {
  background-image: url(../img/services-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 78px;
  left: 30px;
  position: absolute;
  top: 956px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.what-is-2d-explainer-video .services:hover {
  transform: scale(1.1);
}

.what-is-2d-explainer-video .home {
  background-image: url(../img/home@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 81px;
  left: 30px;
  position: absolute;
  top: 18px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.what-is-2d-explainer-video .home:hover {
  transform: scale(1.1);
}

.what-is-2d-explainer-video .m-about-us {
  background-image: url(../img/m-about-us-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 1684px;
  position: absolute;
  top: 962px;
  transition: all 0.5s ease-in-out;
  width: 193px;
}

.what-is-2d-explainer-video .m-about-us:hover {
  transform: scale(1.1);
}

.what-is-2d-explainer-video .s-contact-us {
  background-image: url(../img/m-contact-us@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 72px;
  left: 872px;
  position: absolute;
  top: 962px;
  transition: all 0.5s ease-in-out;
  width: 177px;
}

.what-is-2d-explainer-video .s-contact-us:hover {
  transform: scale(1.1);
}

.what-is-2d-explainer-video .gallery {
  background-image: url(../img/gallery@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 134px;
  left: 1698px;
  position: absolute;
  top: 12px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.what-is-2d-explainer-video .gallery:hover {
  transform: scale(1.1);
}

.what-is-2d-explainer-video .overlap-group {
  height: 515px;
  left: 30px;
  position: absolute;
  top: 294px;
  width: 400px;
}

.what-is-2d-explainer-video .rectangle-12 {
  border-radius: 24px 105px 24px 105px;
  height: 515px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 398px;
}

.what-is-2d-explainer-video .what-is-a-2d-explai {
  left: 0;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  top: 12px;
  white-space: nowrap;
}

.what-is-2d-explainer-video .span-1 {
  text-decoration: underline;
}

.what-is-2d-explainer-video .back-button {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 58px;
  left: 160px;
  min-width: 139px;
  mix-blend-mode: luminosity;
  opacity: 0.75;
  position: absolute;
  top: 751px;
}

.what-is-2d-explainer-video .overlap-group1 {
  height: 67px;
  margin-bottom: -9px;
  position: relative;
  width: 139px;
}

.what-is-2d-explainer-video .rectangle-1 {
  border-radius: 24px 105px 24px 105px;
  height: 58px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 139px;
}

.what-is-2d-explainer-video .place {
  left: 21px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-shadow: 0px 3px 6px #00000029;
  top: 7px;
  white-space: nowrap;
}
